<div class="container-fluid">  
  <div class="row">
    <div class="col-sm-offset-1 col-sm-11">
      <h1>Crear nueva persona</h1>      
    </div> 
    
    <div class="col-sm-12">
      <%= form_for(@persona, :as => :persona, :url => {action: 'create'}, :method => :post, html: {:class => 'form-horizontal'}) do |f| %>
        <% if @persona.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@persona.errors.count, "error") %> impidieron que esta persona sea guardada:</h2>
            <ul>
              <% @persona.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :nombre, "Nombre: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= f.text_field :nombre, :class => 'form-control ancho_50', :required => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :apellido, "Apellido: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= f.text_field :apellido, :class => 'form-control ancho_50', :required => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :sexo, "Sexo: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= select_tag(:sexo, options_for_select([ ['Seleccione un sexo...', 0], ['Masculino', 1], ['Femenino', 2] ]), { :class => 'form-control ancho_25', :id => 'select_sexo' } ) %>            
          </div>
        </div>
        <div class="form-group">
          <%= f.label :fecha_de_nacimiento, "Fecha de nacimiento: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= f.text_field :fecha_de_nacimiento, { :class => 'form-control ancho_25', :pattern => '[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]', :placeholder => 'dd/mm/aaaa' } %>
          </div>
        </div>                        
        <div class="form-group">
          <%= f.label :direccion, "Dirección: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= f.text_field :direccion, :class => 'form-control ancho_50' %>
          </div>
        </div> 
        <div class="form-group">
          <%= f.label :email, "Email: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= f.email_field :email, :class => 'form-control ancho_25' %>
          </div>
        </div>       
        <div class="form-group">
          <%= f.label :sitio_web, "Sitio web: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= f.url_field :sitio_web, :class => 'form-control ancho_25' %>
          </div>
        </div>      
        <div class="form-group">
          <%= f.label :pais_id, "País: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= select_tag 'paises', content_tag(:option, 'Seleccione un país...', :value => "") + options_from_collection_for_select(@paises, :id, :nombre ), { :class => 'form-control ancho_25', :id => 'select_paises' } %>            
          </div>
        </div>        
        <div class="form-group">
          <%= f.label :provincia_id, "Provincia: ", :class => 'control-label col-sm-2' %>        
          <div class="col-sm-8">
            <%= select_tag('provincias', options_for_select([ ['Seleccione una provincia...'] ]) , { :class => 'form-control ancho_25', :id => 'select_provincia' } ) %>
          </div>
        </div>    

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit :value => "Guardar", :class => 'btn btn-default' %>
            <%= button_tag "Reestablecer campos", :type => :reset %>
            <%= link_to "Cancelar", { :controller => 'inicio' , :action => 'index'}, { :class => 'btn btn-default enlace_en_boton' } %>
          </div>
        </div>                                         
      <% end %>
    </div>
  </div>
</div>